




<div class="grid">
  <div>

  	<article>

  <header><b>DEPORTES</b></header>
  
  <img src="../../assets/deportes.jpeg"  alt="deportes">

  <footer><i>DEPORTES</i></footer>

</article></div>
  
  <div>

  	<article>
  
  <header><b>POLÍTICA</b></header>
  
  <img src="../../assets/politica.webp"  alt="política">

  
  <footer><i>POLÍTICA</i></footer>

</article>

</div>
  
  <div>

  	<article>
  
  <header><b>INTERNACIONAL</b></header>
<img src="../../assets/internacional.jpeg"  alt="internacional">
  
  <footer><i>INTERNACIONAL</i></footer>

</article>

</div>
  
  <div>

  	<article>
  
  <header><b>NACIONAL</b></header>
<img src="../../assets/nacional.png"  alt="nacional">
  
  <footer><i>NACIONAL</i></footer>

</article>

</div>
  
  <div>

  	<article>
  
  <header><b>FARÁNDULA</b></header>
  
<img src="../../assets/farandula.png"  alt="farandula">
  
  <footer><i>FARÁNDULA</i></footer>

	</article>

</div>

</div>